
.guess-rating-container {
    margin: auto;
    border: 0.5px solid black;
    box-shadow: 2px 2px black;
    width: 100vh;
    align-items: center;
    text-align: center;
    padding: 1vh;
    padding-bottom: 5vh;
}

.button-container {
    margin-top: 3vh;
}

button:hover {
    opacity: 0.8;
}


.guess-rating-container button {
    margin-top: 3vh;
    border: 0.5px solid black;
    box-shadow: 2px 2px black;
    width: 30vh;
    height: 3vh;
}



.button-container button {
    border: 0.5px solid black;
    box-shadow: 2px 2px black;
    width: 30vh;
    height: 3vh;
    margin: auto;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

